<h1 class="text-center my-24 text-xl">Bienvenidos <b>{{name}}</b></h1>

<div id="container0">
        <div class="niños">

                <h1 class="text-3xl font-bold text-center ">Niños o Niñas </h1>

                <a type="button" class="rounded-md bg-green-500 w-full text-lg text-white text-center font-semibold p-2 my-3 haver:bg-green-500
                focus:bg-green-700" href="listadosninos">Ver listados</a>

                <a type="button" class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 haver:bg-green-600 text-center
                focus:bg-green-700" href="registroNN">Registrar </a>

                <a type="button" class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 haver:bg-green-600 text-center
                focus:bg-green-700" href="listadosninos"> Modificar </a>

                <a type="button" class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 haver:bg-green-600 text-center
                focus:bg-green-700" href="listadosninos">Eliminar</a>




        </div>


        <div class="talentoh">

                <h1 class="text-3xl font-bold text-center">Talento Humano </h1>

                <a type="button" class="rounded-md bg-green-500 w-full text-lg text-white text-center font-semibold p-2 my-3 haver:bg-green-500
                focus:bg-green-700" href="listadosTH">Ver listados</a>

                <a type="button" class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 haver:bg-green-600 text-center
                focus:bg-green-700" href="registroTH">Registrar</a>

                <a type="button" class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 haver:bg-green-600 text-center
                focus:bg-green-700" href="listadosTH"> Modificar</a>

                <a type="button" class="rounded-md bg-green-500 w-full text-lg text-white font-semibold p-2 my-3 haver:bg-green-600 text-center
                focus:bg-green-700" href="listadosTH">Eliminar</a>

        </div>
</div>