<div id="container1">
    <div class="tabla1">
        <h1 class="text-3xl font-bold text-center ">Parvulos</h1>
        <table>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Registro de N. </th>
                <th>Fecha de N.</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Hoja de vida</th>
            </tr>
            <tr>
                <td>Nestor Raul </td>
                <td>Quintero Santander</td>
                <td>1091373547</td>
                <td>09/08/1985</td>
                <td>38</td>
                <td>masculino</td>
                <td>📁</td>
            </tr>

        </table>
    </div>
    <div class="tabla2">
        <h1 class="text-3xl font-bold text-center ">Pre-Jardin</h1>
        <table>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Registro de N. </th>
                <th>Fecha de N.</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Hoja de vida</th>
            </tr>
            <tr>
                <td>Nestor Raul </td>
                <td>Quintero Santander</td>
                <td>1091373547</td>
                <td>09/08/1985</td>
                <td>38</td>
                <td>masculino</td>
                <td>📁</td>
            </tr>

        </table>
    </div>
    <div class="tabla3">
        <h1 class="text-3xl font-bold text-center ">Jardin</h1>
        <table>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Registro de N. </th>
                <th>Fecha de N.</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Hoja de vida</th>
            </tr>
            <tr>
                <td>Nestor Raul </td>
                <td>Quintero Santander</td>
                <td>1091373547</td>
                <td>09/08/1985</td>
                <td>38</td>
                <td>masculino</td>
                <td>📁</td>

            </tr>

        </table>
    </div>

</div>